@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

h3 {
  text-align: center;
}

.dis {
  display: flex;
  justify-content: center;
}

.figure {
  margin-right: 10px;
}

body {
  background-color: black !important;
}

.di {
  display: flex;
  justify-content: center;
}

.bi {
  margin-right: 10px;
}
.pa {
  padding: 0 !important;
}
.log {
  display: flex;
  justify-content: center;
  color: white;
}

.image {
  width: 75px !important;
}

.color {
  background-color: lightcoral !important;
}

.divisore {
  display: flex;
  justify-content: center;
}

.co {
  color: lightcoral;
}

.blocco {
  display: flex;
  flex-direction: column;

  margin-right: 10px;
}

.blocco2 {
  display: flex;
  width: 255px;
}

.bot {
  display: flex;
  justify-content: center;
}

.gi {
  color: white;
}

.ma {
  margin-right: 8px;
}

.ad:hover {
  color: coral;
}
.bi-bookmark-star::before {
  position: absolute;
  color: coral;
  font-size: 20px;
}

.ti:hover {
  color: coral !important;
}

.com {
  background-color: black !important;
}

.btn-close {
  background-color: white !important;
}

.btn-close:hover {
  background-color: coral !important;
}

.bu {
  height: 38px;
}
.bi-bookmark-star-fill {
  background-color: coral !important;
}

.bi-bookmark-star-fill::before {
  position: absolute;
  color: coral;
  font-size: 20px;
}
.toglima {
  display: flex;
  margin-bottom: 0px;
}
